In [1]:
import pandas as pd
import os
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
idee = pd.read_csv('train_identity.csv')
transaction = pd.read_csv('train_transaction.csv')

In [4]:
merge = transaction.merge(idee, how='outer', on='TransactionID')

In [5]:
merge.dtypes.value_counts()

float64    399
object      31
int64        4
dtype: int64

In [16]:
objects = merge.select_dtypes('object')
numbers = merge.select_dtypes(include=['float64', 'int64'])
print(objects.info())
print('###')
print(numbers.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 0 to 590539
Data columns (total 31 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ProductCD      590540 non-null  object
 1   card4          588963 non-null  object
 2   card6          588969 non-null  object
 3   P_emaildomain  496084 non-null  object
 4   R_emaildomain  137291 non-null  object
 5   M1             319440 non-null  object
 6   M2             319440 non-null  object
 7   M3             319440 non-null  object
 8   M4             309096 non-null  object
 9   M5             240058 non-null  object
 10  M6             421180 non-null  object
 11  M7             244275 non-null  object
 12  M8             244288 non-null  object
 13  M9             244288 non-null  object
 14  id_12          144233 non-null  object
 15  id_15          140985 non-null  object
 16  id_16          129340 non-null  object
 17  id_23          5169 non-null    object
 18  id_27          5169 non-null    object
 19  id_28          140978 non-null  object
 20  id_29          140978 non-null  object
 21  id_30          77565 non-null   object
 22  id_31          140282 non-null  object
 23  id_33          73289 non-null   object
 24  id_34          77805 non-null   object
 25  id_35          140985 non-null  object
 26  id_36          140985 non-null  object
 27  id_37          140985 non-null  object
 28  id_38          140985 non-null  object
 29  DeviceType     140810 non-null  object
 30  DeviceInfo     118666 non-null  object
dtypes: object(31)
memory usage: 164.2+ MB
None
###
<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 0 to 590539
Columns: 403 entries, TransactionID to id_32
dtypes: float64(399), int64(4)
memory usage: 1.8 GB
None

In [17]:
objects.fillna("Unknown", inplace=True)
objects.head()

,ProductCD,card4,card6,P_emaildomain,R_emaildomain,M1,M2,M3,M4,M5,M6,M7,M8,M9,id_12,id_15,id_16,id_23,id_27,id_28,id_29,id_30,id_31,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,W,discover,credit,Unknown,Unknown,T,T,T,M2,F,T,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
1,W,mastercard,credit,gmail.com,Unknown,Unknown,Unknown,Unknown,M0,T,T,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
2,W,visa,debit,outlook.com,Unknown,T,T,T,M0,F,F,F,F,F,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
3,W,mastercard,debit,yahoo.com,Unknown,Unknown,Unknown,Unknown,M0,T,F,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
4,H,mastercard,credit,gmail.com,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,NotFound,New,NotFound,Unknown,Unknown,New,NotFound,Android 7.0,samsung browser 6.2,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [18]:
objects = pd.get_dummies(objects)

In [19]:
objects['TransactionID'] = merge['TransactionID']
cols = objects.columns.to_list()
cols = cols[-1:] + cols[:-1]
objects = objects[cols]
objects.astype('category')
print(objects.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 0 to 590539
Columns: 2462 entries, TransactionID to DeviceInfo_xs-Z47b7VqTMxs
dtypes: int64(1), uint8(2461)
memory usage: 1.4 GB
None

In [20]:
numbers.fillna(numbers.mean(), inplace=True)

In [21]:
print(numbers.isna().sum())
print(objects.isna().sum())

TransactionID     0
isFraud           0
TransactionDT     0
TransactionAmt    0
card1             0
                 ..
id_22             0
id_24             0
id_25             0
id_26             0
id_32             0
Length: 403, dtype: int64
TransactionID                0
ProductCD_C                  0
ProductCD_H                  0
ProductCD_R                  0
ProductCD_S                  0
                            ..
DeviceInfo_verykools5004     0
DeviceInfo_verykools5034     0
DeviceInfo_verykools5035     0
DeviceInfo_vivo              0
DeviceInfo_xs-Z47b7VqTMxs    0
Length: 2462, dtype: int64

In [22]:
preprocessed = objects.merge(numbers, how='outer', on='TransactionID')
preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 0 to 590539
Columns: 2864 entries, TransactionID to id_32
dtypes: float64(399), int64(4), uint8(2461)
memory usage: 3.1 GB

In [23]:
X = preprocessed
del preprocessed
y = X.isFraud
X.drop(columns='isFraud', inplace=True)
print(X.info())
print(len(y))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 590540 entries, 0 to 590539
Columns: 2863 entries, TransactionID to id_32
dtypes: float64(399), int64(3), uint8(2461)
memory usage: 3.1 GB
None
590540

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=37)

ModuleNotFoundError: No module named 'sklearn'